.bgimage {
    background-image: url('https://assets.editorial.aetnd.com/uploads/2013/08/moon-gettyimages-490413228.jpg'); /* Replace with your image URL */
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -80%);
    color: white;
    text-align: center;
    white-space: nowrap;
  }
  
  .text-overlay h1 {
    font-size: 5em !important; /* Ensure the size is applied */
  }
  
  @media (max-width: 480px) {
    .text-overlay h1 {
      font-size: 2.5em !important; /* Ensure the size is applied */
    }
    .text-overlay h3 {
      font-size: 1em !important; /* Ensure the size is applied */
    }
    i {
      font-size: smaller;
  }
  .d-flex{overflow-x: auto;}
  #gif{width:50%;max-width: 100%;}
}

  /* Bootstrap Card Styles */
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}
#gif {zoom: 80%;}

.card {
  flex: 1;
  width: 20%; /* Adjust width for all cards */
  min-width: 160px; /* Ensure a minimum width for smaller screens */
  margin: 10px; /* Margin for spacing */
  flex-shrink: 0; /* Prevent shrinking on smaller screens */
  text-align: center;
  transition: transform 0.3s ease;
}
.card:hover { transform: translateY(-10px); /* Translate on hover */ }
.card img {
  width: 100%;
  height: 250px; /* Adjust height for a better aspect ratio */
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 0;
}
  