.bgimage {
    background-image: url('https://wallpapercave.com/wp/wp5129062.jpg'); /* Replace with your image URL */
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.2 );
    text-align: center;
  }
  
  .text-overlay h1 {
    font-size: 5em !important; /* Ensure the size is applied */
  }
  
  @media (max-width: 480px) {
    .text-overlay h1 {
      font-size: 2.5em !important; /* Ensure the size is applied */
    }
    i {
      font-size: smaller;
  }
  .d-flex{overflow-x: auto;}
  #gif{width:40%;max-width: 100%; zoom: 80%;}
  #gif2{width: 100%; zoom: 100%;}
}

  /* Bootstrap Card Styles */
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}


@media (min-width: 481px){
  #gif {zoom: 70%;  }
  #gif2{zoom: 100%; }
}

.card {
  flex: 1;
  width: 20%; /* Adjust width for all cards */
  min-width: 160px; /* Ensure a minimum width for smaller screens */
  margin: 10px; /* Margin for spacing */
  flex-shrink: 0; /* Prevent shrinking on smaller screens */
  text-align: center;
  transition: transform 0.3s ease;
}
.card:hover { transform: translateY(-10px); /* Translate on hover */ }
.card img {
  width: 100%;
  height: 250px; /* Adjust height for a better aspect ratio */
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 0;
}
  